[Unit]
Description=Splash Screen
# After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/callisto/Programs/keybind-flash/keybind-flash
# Environment=DISPLAY=:0
# Environment=XAUTHORITY=/home/callisto/.Xauthority
Restart=always

[Install]
WantedBy=graphical-session.target